.mainForm {
  position: absolute;
  left: 10vw;

  width: 300px;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin-right: 20vw;
  padding: 2rem;

  border-radius: 5px;

  background: #123;
}

.mainInput {
  padding: 0.5rem 1rem;
  outline: none;

  border-radius: 5px;
  border: #aff solid 1px;
  background: transparent;
  color: #fff;
}

.mainInputNumber {
  padding: 0.5rem 1rem;

  border-radius: 5px;
  border: #aff solid 1px;
  background: transparent;
  color: #fff;
}
