.mainLi {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;

  margin-bottom: 1rem;
}

.liContainerData {
  display: flex;
  align-items: center;
}

.liContainerData p {
  margin: 0;
}

.liContainerData span {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  font-size: 1rem;
}

.titleGift {
  width: 150px;

  white-space: nowrap;
  overflow: hidden;
}

.liContainerData small {
  color: #aaa;
  font-size: .7rem;
}

.liButtons {
  display: flex;
  gap: .5rem;
}

.mainImg {
  width: 40px;
  margin-right: 1rem;
}
